@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #ffffff;
    --color-text-muted: #fffbeb;
    --color-text-inverted: #f59e0b;
    --color-button-accent: #f59e0b;
    --color-button-accent-hover: #eb9608;
  }
}
